<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
<main>
<div class="contenedorEditarUsuario">
    <h1>EDITAR USUARIO</h1>
    <form action="/usuarios/editarUsuario/<%=usuario.Id%>?_method=PUT" method="post">
    <ul>
        <li>
            <label for="Nombre">NOMBRE</label>
            <input type="text" name="Nombre" id="Nombre" value="<%= usuario.Nombre %>">
        </li>
        <li>
            <label for="Clave">CLAVE</label>
            <input type="password" name="Clave" id="Clave" value="<%= usuario.Clave %>">
        </li>
        <li>
            <label for="EstadoId">SELECCIONE UN ESTADO:</label>
            <select id="EstadoId" name="EstadoId">
                <option value="0" <%= usuario.EstadoId === 0 ? 'selected' : '' %>>SELECCIONE</option>
                <option value="1" <%= usuario.EstadoId === 1 ? 'selected' : '' %>>ACTIVO</option>
                <option value="2" <%= usuario.EstadoId === 2 ? 'selected' : '' %>>INACTIVO</option>
            </select>
        </li>
        
        <li>
            <label for="PerfilId">SELECCIONE UN PERFIL:</label>
            <select id="PerfilId" name="PerfilId">
                <option value="0" <%= usuario.PerfilId === 0 ? 'selected' : '' %>>SELECCIONE</option>
                <option value="1" <%= usuario.PerfilId === 1 ? 'selected' : '' %>>ADMIN</option>
                <option value="2" <%= usuario.PerfilId === 2 ? 'selected' : '' %>>OBRA SOCIAL</option>
            </select>
        </li>
        <li>
            <button type="submit">GUARDAR CAMBIOS</button>
        </li>
    </ul>
</div>
</main>
</body>
</html>
