<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="/css/usuarios.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
  <%- include('../partials/header.ejs') %>

    
  <div class="contenedorUsuarios">
    <section class="buscador">
         <form action="" method="get">
        <%-include('../partials/filtro.ejs') %>
         </form>
   </section>
    <!-------------------------lista de usuarios------------------------------------>
    <section class="listaUsuarios">
      <article class="agregarUsuarios">
        <section class="listado"><h1>LISTADO DE USUARIOS</h1></section>
        <%- include ('../partials/crea.ejs', {ruta: '/crearUsuario'})  %>
      </article>
      <article class="headerTable">
        <section>NOMBRE</section>
        <section>CLAVE</section>
        <section>ESTADO</section>
        <section>PERFIL</section>
        <section></section>
      </article>
      
      <% usuarios.forEach(item => { %>
        
        <article class="tableRow">
        <section><%= item.Nombre %>         </section>
        <section><%= item.Clave %>          </section>
        <section><%= item.EstadoId %>       </section>
        <section><%= item.PerfilId %>       </section>
        <article>
          <a href="/obtenerUsuario/<%= item.Id %>"><iconify-icon icon="mdi:pencil" style="color: #1d84b5;"></iconify-icon></a> 
          <a href="/deleteUser/<%= item.Id %>"><iconify-icon icon="heroicons-solid:trash" style="color: #f33;"></iconify-icon></a> 
        </article>
      </article>
    
        <% }); %>
      
        <div class="containerPagination">
          <button class="btnPrev"><<</button>
          <div id="pagination">   </div>
          <button class="btnNext">>></button> 
      </div>
     
     </section>
    </div>
  
  
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
</body>
</html>
