<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
</head>
<body>
  <%- include('../partials/header.ejs') %>

    
    <div class="contenedorUsuarios">
        <section class="buscador">
            <form action="" method="get">
            <iconify-icon class="admin__icon" icon="charm:search"></iconify-icon>
             <input
             name="filtro"
             type="text"
             id="codigoUsuario"
            placeholder="Buscar por nombre o estado"
            />
             <button type="submit">Buscar</button>
            </form>
        </section>
    <!-------------------------lista de usuarios------------------------------------>
    <section class="listaUsuarios">
      <article class="agregarUsuarios">
        <section class="listado"><h1>LISTADO DE USUARIOS</h1></section>
        <section class="agregar">
          <label for="">AGREGAR</label>
          <a href="/crearUsuario"><iconify-icon icon="bxs:plus-square" style="color: #f33;"></iconify-icon></a>
        </section>
      </article>
      <article class="headerTable">
        <section>NOMBRE</section>
        <section>CLAVE</section>
        <section>ESTADO</section>
        <section>PERFIL</section>
        <section></section>
      </article>
      
      <% usuarios.forEach(item => { %>
        <div class="tableAdmin">
        <article class="row">
        <section><%= item.Nombre %>         </section>
        <section><%= item.Clave %>          </section>
        <section><%= item.EstadoId %>       </section>
        <section><%= item.PerfilId %>       </section>
        <article>
          <a href="/obtenerUsuario/<%= item.Id %>"><iconify-icon icon="mdi:pencil" style="color: #1d84b5;"></iconify-icon></a> 
          <a href="/deleteUser/<%= item.Id %>"><iconify-icon icon="heroicons-solid:trash" style="color: #f33;"></iconify-icon></a> 
        </article>
      </article>
    </div>
        <% }); %>
      
        <div class="containerPagination">
          <button class="btnPrev"><<</button>
          <div id="pagination">   </div>
          <button class="btnNext">>></button> 
      </div>
     
     </section>
    </div>
  
  
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
</body>
</html>
