<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Turno</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
<main>
<div class="contenedorEditarTurno">
    <h1>EDITAR TURNO</h1>
    <form action="/listaTurnos/editarTurno/<%=turno.Id%>?_method=PUT" method="post">
    <ul>
        <li>
            <label for="Fecha">FECHA</label>
            <input type="date" name="Fecha" id="Fecha" value="<%= turno.Fecha.toISOString().split('T')[0] %>" required/>
        </li>
        
        <li>
            <label for="Hora">HORA</label>
            <input type="time" name="Hora" id="Hora" value="<%= turno.Hora %>" required/>
        </li>
        <label for="PacienteId">SELECCIONE UN PACIENTE:</label>
        <select id="PacienteId" name="PacienteId">
            <% pacientes.forEach(paciente => { %>
                <option value="<%= paciente.Id %>" <%= paciente.Id === turno.PacienteId ? 'selected' : '' %>><%= paciente.Nombre %></option>
            <% }); %>
        </select>
        
        <li>
            <label for="EstadoId">ID DEL ESTADO</label>
            <select id="EstadoId" name="EstadoId">
                <% estados.forEach(estado => { %>
                    <option value="<%= estado.id %>" <%= estado.id === turno.EstadoId ? 'selected' : '' %>><%= estado.estado %></option>
                <% }); %>
            </select>
        </li>
        
       
        <li>
            <button type="submit">GUARDAR CAMBIOS</button>
        </li>
    </ul>
</div>
</main>
</body>
</html>
