<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Paciente</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
<main>
<div class="contenedorEditarPaciente">
    <h1>EDITAR PACIENTE</h1>
    <form action="/pacientes/editarPaciente/<%= paciente.Id %>?_method=PUT" method="post">
    <ul>
        <li>
            <label for="Nombre">NOMBRE</label>
            <input type="text" name="Nombre" id="Nombre" value="<%= paciente.Nombre %>">
        </li>
        <li>
            <label for="DNI">DNI</label>
            <input type="text" name="DNI" id="DNI" value="<%= paciente.DNI %>">
        </li>
                <label for="ObraSocialId">Selecciona una obra social:</label>
                <select id="ObraSocialId" name="ObraSocialId">
                    <option value="0">SELECCIONE</option>
                    <option value="1" <%= paciente.ObraSocialId === 1 ? 'selected' : '' %>>OSDE</option>
                    <option value="2" <%= paciente.ObraSocialId === 2 ? 'selected' : '' %>>IOMA</option>
                    <option value="3" <%= paciente.ObraSocialId === 3 ? 'selected' : '' %>>OSCEP</option>
                    <option value="4" <%= paciente.ObraSocialId === 4 ? 'selected' : '' %>>NO TIENE</option>
                </select>
        <li>
            <label for="NumeroAsociado">NUMERO ASOCIADO</label>
            <input type="text" name="NumeroAsociado" id="NumeroAsociado" value="<%= paciente.NumeroAsociado %>">
        </li>
        <li>
            <label for="Direccion">DIRECCION</label>
            <input type="text" name="Direccion" id="Direccion" value="<%= paciente.Direccion %>">
        </li>
        <li>
            <label for="Telefono">TELEFONO</label>
            <input type="text" name="Telefono" id="Telefono" value="<%= paciente.Telefono %>">
        </li>
        <li>
            <button type="submit">GUARDAR CAMBIOS</button>
        </li>
    </ul>
</div>
</main>
</body>
</html>
